@import "header.css";

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: white;
}

body {
  margin: 0 auto;

  width: 100vw;
  height: 100vh;
}
